<div>
<h2 class="sub-heading pl-30">User Registration</h2>
<form name="loginForm" class="pl-30">
    <div class="form-group ">
        <label for="username">FirstName</label>
         <input type="text" id="firstname" required formControlName="firstname"  
         class="form-control input-size text-box-height" />
    </div>
    <div class="form-group ">
        <label for="username">LastName</label>
         <input type="text" id="lastname" required formControlName="lastname"  
         class="form-control input-size text-box-height" />
    </div>
    <div class="form-group ">
        <label for="username">Mobile No</label>
         <input type="text" id="mobileno" required formControlName="mobileno"  
         class="form-control input-size text-box-height" />
    </div>
    <div class="form-group ">
        <label for="username">Email</label>
         <input type="text" id="email" required formControlName="email"  
         class="form-control input-size text-box-height" />
    </div>
    <div class="form-group ">
        <label for="username">Account No</label>
         <input type="text" id="accountno" required formControlName="accountno"  
         class="form-control input-size text-box-height" />
    </div>
    <div class="form-group ">
        <label for="username">IFSC Code</label>
         <input type="text" id="ifsc" required formControlName="ifsc"  
         class="form-control input-size text-box-height" />
    </div>
    <!-- <div class="form-group">
        <label for="password">Set up Password</label>
        <input type="password" id="password" required formControlName="password" class="form-control input-size text-box-height" />
    </div>
    <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" id="cpassword" required formControlName="cpassword" class="form-control input-size text-box-height" />
    </div> -->
    <div class="form-group">
        <button type="submitform" class="btn btn-primary" (click)="createUser()">Submit</button>

        <!-- <button type="submit1" class="btn btn-primary margin-left" >Register</button> -->
    </div>
   
</form>
</div>
