.margin-left{
    margin-left: 10px !important;
}
.pl-30{
padding-left: 30px;
}
.sub-heading{
    font-size: 40px;
    line-height: 50px;
    color: #0071BC;
}
.input-size { 
    width: 250px;
 }
.text-box-height{
    height: 25px;
} 